$font_weight_normal: 400;
$font_weight_bold: 800;
$default_font: Mulish;
$mono_font: 'Source Code Pro';
$asset_base_path: '../assets' !default;

$black: #2D2D2D;
$blue: #000F46;
$gray: #C8C8C8;
$purple: #73234B;
$deep-purple: #73234B;
$dark-purple: #000F46;
$yellow: #FFD629;
$teal: #46C8F0;
$red: #78000D;
$orange: #A84500;
$magenta: #73234B;
$bright-blue: #46C8F0;
$light-gray: #C8C8C8;
$light-blue: #46C8F0;
$light-purple: #EB7BBE;
$dark-blue: #000F46;
$dark-green: #003C55;
$light-red: #FF2D3C;
$very-light-blue: #C8C8C8;
$light-green: #ABC1A7;

$accordion-button-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class='feather feather-plus'><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>");

$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class='feather feather-minus'><line x1="5" y1="12" x2="19" y2="12"></line></svg>");
